@{
    var setting = Html.Setting<CrowdMallSetting>();
}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>好云购管理中心</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	@Html.CDNStyle("~/bundles/desktop/css")
	<link rel="shortcut icon" href="/favicon.ico" />
</head>
<body class="preload">
	<div class="admin-page">
		<div class="head">
            好云购管理中心
		</div>
		<div class="container">
			@RenderBody()
		</div>
	</div>
	@Html.CDNScript("~/bundles/desktop/js")
	@RenderSection("scripts", required: false)
</body>
</html>
