@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1" name="viewport" />

	<link rel="stylesheet" href="~/vender/massets/global/plugins/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="~/vender/massets/global/plugins/simple-line-icons/simple-line-icons.min.css" />
	<link rel="stylesheet" href="~/vender/massets/global/plugins/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/vender/massets/global/plugins/uniform/css/uniform.default.css" />
	<link rel="stylesheet" href="~/vender/massets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" />

	<link rel="stylesheet" href="~/vender/massets/global/css/components.css" />
	<link rel="stylesheet" href="~/vender/massets/global/css/plugins.min.css" />
	<link rel="stylesheet" href="~/vender/massets/layouts/layout/css/layout.css" />
	<link rel="stylesheet" href="~/vender/massets/layouts/layout/css/themes/default.min.css" />
	<link rel="stylesheet" href="~/vender/massets/layouts/layout/css/custom.css" />
	<link rel="stylesheet" href="~/vender/kindeditor/themes/default/default.css" />

	<link rel="stylesheet" href="~/css/admin/index.css" />
	<link rel="stylesheet" href="~/css/site.css" />

	<link rel="shortcut icon" href="/favicon.ico" />
</head>
<body class="page-header-fixed page-sidebar-closed-hide-logo page-sidebar-fixed page-content-white">
	<div>
		<div id="app"></div>
		<script>
			var ENV = {
				root: "/admin/bizness/",
				menu: "bizness"
			}
		</script>
		<script src="~/vender/kindeditor/kindeditor-all-min.js"></script>
		<script src="~/vender/clipboard.min.js"></script>
		<script src="~/js/admin/admin.js"></script>
	</div>
</body>
</html>

