@{ 
	Layout = "_AdminSigninLayout.cshtml";
}
<div class="signin-panel">
    <h4 class="text-center">登录好运购管理中心</h4>
    <br/>
    <form class="signin big">
        <div class="form-group">
            <label class="control-label sr-only" for="ident">账号:</label>
            <div class="input-group">
                <span class="input-group-addon"><span class="fa fa-mobile"></span></span>
                <input id="signin-user" class="form-control" placeholder="请输入账号或手机号" name="ident" type="text" />
            </div>
        </div>

        <div class="form-group clearfix">
            <label class="control-label sr-only" for="password">密码</label>
            <div class="input-group">
                <span class="input-group-addon"><span class="fa fa-key"></span></span>
                <input id="signin-password" class="form-control" placeholder="请输入密码" name="password" type="password" />
            </div>
        </div>
        <div class="message"></div>
        <button type="submit" class="btn btn-primary submit">立即登录</button>
    </form>
</div>
@section scripts{
<script>
    window.boot("user-signin", { jump: "/admin" });
</script>
}