@model ServiceProtocol.Biz.UIManager.Mvc.RenderModel
@{
}
<div class="product-list" >
	<div class="head">
		<h3 class="title">@Model.Content.Title1</h3>
		<div class="more">
			<a href="@Model.Content.Uri">更多</a>
		</div>
	</div>
	<ul class="items">
		<li class="product-item">

		</li>
	</ul>
</div>