obj
bin
*.user
/Projects/Sites/ManagementConsole/node_modules
*.suo
/Projects/packages
/Projects/Sites/SF.AdminSite/client
/Projects/Sites/SF.AdminSite/node_modules
/Projects/Sites/SF.AdminSite/vender
/Projects/Sites/browser/node_modules
/Projects/Sites/SF.AdminSiteCore/client
/Projects/Sites/SF.AdminSiteCore/node_modules
/Projects/Sites/SF.AdminSiteCore/wwwroot/vender
/Projects/Browser/node_modules
project.lock.json
*.bak
*.ide
