obj
bin
*.user
/Projects/Sites/ManagementConsole/node_modules
*.suo
/Projects/packages
/Projects/Sites/SF.AdminSite/client
/Projects/Sites/SF.AdminSite/node_modules
/Projects/Sites/SF.AdminSite/vender
/Projects/Sites/browser/node_modules
/Projects/Sites/SF.AdminSiteCore/client
/Projects/Sites/SF.AdminSiteCore/node_modules
/Projects/Sites/SF.AdminSiteCore/wwwroot/vender
/Projects/Browser/node_modules
bower_componentsproject.lock.json
*.bak

*.ide
/Projects/Demo/Hygou/Hygou.Site/bower_components
/Projects/Demo/Hygou/Hygou.Site/client
/Projects/Demo/Hygou/Hygou.Site/node_modules
/Projects/Demo/Hygou/Hygou.Site/wwwroot/vender
/Projects/Demo/Hygou/Hygou.Site/StaticResources/产品数据
/Projects/Demo/SFShop/SFShop.Site/StaticResources
/Projects/Demo/SFShop/SFShop.Site/bower_components
