@import "../defaultStyle.scss";
div.shopping-cart{
    table{
        width:100%;
        border:1px solid $grayLight;
        tr{
        }
        tr.item{
            td{
                border-bottom:1px solid $grayLight;
                text-align:center;
                padding:20px;
            }
            td.check{
                width:40px;
            }
		    td.image{
            }
		    td.name{
                text-align:left;
                div.intro{
                    font-size:12px;
                    color:$grayDark;
                }
                span.cf-total,span.cf-left{
                    color:$primaryBGColorDark;
                }
                div.price{
                    display:inline-block;
                    text-align:center;
                    padding:3px 20px;
                    background-color:$primaryBGColor;
                    color:#fff;
                    font-size:12px;
                }
            }
		    td.left{
                color:$primaryBGColorDark;
            }
		    td.quantity{
                 width:150px;
                 div.input-group{
                     width:150px;
                     span.input-group-addon{
                         cursor:pointer;
                         color:$gray;
                     }
                     span.input-group-addon:hover{
                         color:$grayDark;
                     }
                     input{
                         text-align:center;
                     }
                 }
            }
		    td.amount{
                color:$primaryBGColor;
            }
		    td.cmd{
            }
        }
        tr.item:hover{
            background-color:$grayBG;
        }
        th,td{
                padding:10px 20px;
        }
        th{
            font-weight:normal;
            text-align:center;
            padding:10px;
        }
        tr.head{
            background-color:$grayBG;
            color:$grayDark;
       }
        th.check{
            
            width:40px;
        }
		th.image{
            width:120px;
        }
		th.name{
            text-align:left;
            padding-left:20px;
        }
		th.left{
            width:150px;
       }
		th.quantity{
            width:150px;
       }
		th.amount{
            width:150px;
        }
		th.cmd{
            width:100px;
        }
		
        td.tail{
            text-align:left;
        }
        td.summary{
            text-align:right;
            span{
                font-size:24px;
                margin:3px;
                color:$primaryBGColorDark;
            }
        }
        td.payment-balance{
            span{
                font-size:20px;
                margin:3px;
                color:$primaryBGColorDark;
            }
        }
        td.payment-coupon{
            >div.use-coupon{
                float:left;
                margin-top:2px;
            }
            > select{
                height:30px;
                padding:3px 6px;
                font-size:12px;
                float:left;
                display:inline-block;
                width:auto;
            }
            >div.input-group{
                float:left;
                margin-left:16px;
                width:120px;
                >input{
                    text-align:center;
                    //width:50px;
                }
            }
            >span{
                display:block;
                float:left;
                margin:3px 16px;
            }
        }
        td.payment-deposit-list{
            height:50px;
            ul{margin-top:20px;}
        }
        td.payment-deposit-status{
            text-align:right;
            font-size:14px;
            span.type{
                color:$primaryBGColorDark;
            }
            span.value{
                 font-size:24px;
                margin:3px;
                color:$primaryBGColorDark;
            }
        }
        td.submit{
            padding-top:40px;
            text-align:right;
            button{
                margin-top:20px;
                width:220px;
                height:40px;
            }
        }
        td.help{
            padding-top:20px;
            padding-bottom:40px;
        }
        td.empty{
            font-size:20px;
            text-align:center;
            border-bottom:1px solid $gray;
            a,a:visited{
                color:$primaryBGColor !important;
            }
            padding:70px;
        }
    }
}
