@model SF.Common.FrontEndContents.Mvc.RenderModel
<ul class="clearfix">
    @foreach (var item in Model.Content.Items)
    {
       <li><a href="@item.Uri" target="@item.UriTarget">@item.Title1</a></li>
    }
</ul>