	
	<div class="links">
		<div class="container">
			友情链接：
			<a href="#">晋商贷</a>|<a href="#">大德通科技</a>|<a href="#">大德通集团</a>|<a href="#">车来车网</a>|<a href="#">人人天使</a>|<a href="#">金融谷</a>|<a href="#">晋商贷学院</a>
		</div>
	</div>
