@{

	var setting = Html.Setting<AppSiteSetting>();

}
<div class="footer">
	<div class="container">
        <div class="links">
            @*@{ Html.UIBlock("尾部链接列表"); }*@
        </div>
		<div class="icp">
			@setting.SiteCopyright
			@setting.SiteCert
            <div style="display:inline-block">
                浙B2-20160929 <img src="~/css/desktop/images/gaba.png"/> 浙公网安备 33028202000262号
            </div>
		</div>
		<div class="certs">
		</div>
	</div>
</div>
