
//$primaryBGColor :#dd2726;
//$primaryBGColorDark :#c40000;
//$primaryBGColorLight :#fff1ec;
//$secondlyBGColor :#ffb922;
//$secondlyBGColorDark :#ffa200;
//$stressColor:#dd2726;
//$stressColorLight:#c40000;
//$primaryBGColor :#ff4000;
//$primaryBGColorDark :#f02000;

$primaryBGColor :#fdb31c;
$primaryBGColorDark :#ffa200;
$primaryBGColorLight :#fff1ec;

$secondlyBGColor :#ff4000;
$secondlyBGColorDark :#f02000;
$secondlyBGColorLight :#ffffc0;

$errorColor:#ff2222;
  
//$primaryBGColor :#ff4000;
//$primaryBGColorDark :#f02000;
//$primaryBGColorLight :#fff1ec;

//$secondlyBGColor :#ffc040;
//$secondlyBGColorDark :#ffa000;
//$secondlyBGColorLight :#ffffc0;

     
$stressColor:#ff5200;
$stressColorLight:#ff6922;


$grayBGLight:#fcfcfc;
$grayBG:#f8f8f8;
$grayBGDark:#f0f0f0;

$grayLight:#ddd;
$gray:#ccc;
$grayDark:#888;


//asdasda
$whiteColor:#fff;
$color :#333;
$colorLight:#888;

$inverseGrayDark:#222;
$inverseGray:#444;
$inverseGrayLight:#666;
$inverseColor :#ccc;
$inverseColorDark :#aaa;





$muteFGColor :#999;
//$linkFGColor :#39f;
$linkFGColor:#8d5000;

$fontFamily :microsoft Yahei;
$muteFontSize :12px;
$fontSize :14px;
$bigFontSize :16px;
$primaryFontSize :20px;
$inputFontSize:16px;
$smallFontSize :12px;
