@{ Html.UIBlock("幻灯片区域"); }
<div>
    <div class="container">
        @*@{ Html.UIBlock("公告区"); }*@
    </div>
</div>
<div class="container body-content" id="home-main-content"> 
    @{ Html.UIBlock("主体内容"); }
    <div id="left_panel" style="visibility:hidden">
        <a href="javascript:;" data-action="gotop">
            <span>
                <span class="fa fa-angle-up"></span>
                TOP
            </span>
            <span>
                返回顶部
            </span>
        </a>
    </div>
</div>

@section scripts{
    <script>
		window.boot("home");
    </script>
}
