
<div class="tabs" id="trade-history">
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" v-bind:class="{active:state==0}" v-on:click="setState(0)" ><a href="javascript:;" role="tab">进行中</a></li>
		<li role="presentation" v-bind:class="{active:state==1}" v-on:click="setState(1)"><a href="javascript:;" role="tab">即将揭晓</a></li>
		<li role="presentation" v-bind:class="{active:state==2}" v-on:click="setState(2)"><a href="javascript:;" role="tab">已揭晓</a></li>
	</ul>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active">
			<div v-if="false" class="loading">正在载入... </div>
			@*<div class="filter-panel" v-cloak>
				<div class="row">
					<div class="col-sm-1 label">时间：</div>
					<div class="col-sm-11">
						<ul class="options">
							<li v-for="tr in timeRanges" v-on:click="setTimeRange(tr)" v-bind:class="{active:tr==curTimeRange}">{{tr.name}}</li>
						</ul>
					</div>
				</div>
			</div>*@
            <data-table v-cloak :version="version" :total="total">
                <table v-cloak class="grid">
                    <tr>
                        <th>商品图片</th>
                        <th class="name">商品名称</th>
                        <th>夺宝状态</th>
                        <th>参与人次</th>
                        <th>夺宝号码</th>
                        <th>操作</th>
                    </tr>
                    <tr v-if="!recs.length">
                        <td colspan="6"><div class="empty">还没有夺宝记录， <a href="/">马上夺宝！</a></div></td>
                    </tr>
                    <tr v-for="i in recs">
                        <td><a href="/item/{{i.ProductId}}-{{i.Round}}" target="_blank"><img v-bind:src="'@Html.ResBase()r/'+i.Image+'?format=s120'" /></a></td>
                        <td class="name">
                            <div><a href="/item/{{i.ProductId}}-{{i.Round}}" target="_blank">(第{{i.Round}}期){{i.Title}}</a></div>
                            <div>总需：{{i.Total}}</div>
                            <div v-if="i.WinSummary">
                                <div>
                                    获奖者：
                                    <a href="/other/{{i.WinSummary.User.Id}}">{{i.WinSummary.User.NickName}}</a>
                                    (本期共参与{{i.WinSummary.Quantity}}人次)
                                </div>
                                <div>幸运号码：{{i.WinSummary.Code}}</div>
                                <div>揭晓时间：{{i.OpenTime}}</div>
                            </div>
                            <div v-if="!i.WinSummary" class="product-status">
                                <div class="bar">
                                    <div class="selled" v-bind:style="{width:(i.ProductSelled*100/i.Total)+'%'}"></div>
                                </div>
                                <ul>
                                    <li>
                                        <div>{{i.ProductSelled}}</div>
                                        <div>已夺宝人次</div>
                                    </li>
                                    <li>
                                        <div>{{i.Total}}</div>
                                        <div>总需人次</div>
                                    </li>
                                    <li>
                                        <div>{{i.Total-i.ProductSelled}}</div>
                                        <div>剩余人次</div>
                                    </li>
                                </ul>
                            </div>
                            <div>夺宝时间：{{i.Time}}</div>
                            <div>交易编号：{{i.TradeIdent}}</div>
                        </td>
                        <td>{{i.State}}</td>
                        <td>{{i.Quantity}}人次</td>
                        <td class="codes">
                            {{i.Codes}}
                            <div v-if="i.Quantity>8" class="btn btn-link" v-on:click="showAllCodes(i)">查看全部</div>
                        </td>
                        <td><a href="/item/{{i.ProductId}}-{{i.Round}}">查看详情</a></td>
                    </tr>
                </table>

            </data-table>
            <div class="modal fade" id="allCodes" tabindex="-1" role="dialog" aria-labelledby="allCodesLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="allCodesLabel">所有夺宝号码</h4>
                        </div>
                        <div class="modal-body">
                            {{allCodes}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
