@import "./defaultStyle.scss";
div.side-menu{
    div.sidebar-content{
        ul{
            padding:0 0 0 16px;
            li{
                text-align:left;
                a{
                    color:$inverseColor;
                    span{margin-right:8px;}
                }
            }
        }
    }
}
#float-side-menu-icon{
    position:fixed;
    z-index:1;
    right:10px;
    bottom:10px;
    width:20px;
    height:20px;
    font-size:16px;
}