<div class="features">
    <div class="container">
        <ul>
            <li>
                <img src="@Html.ResBase()Content/desktop/images/feature1.jpg" />
                <div>100%公平公正</div>
                <div>参与过程公开透明，可随时查看</div>
            </li>
            <li>
                <img src="@Html.ResBase()Content/desktop/images/feature2.jpg" />
                <div>100%正品保证</div>
                <div>精心挑选高品质商家，100%品牌正品</div>
            </li>
            <li>
                <img src="@Html.ResBase()Content/desktop/images/feature3.jpg" />
                <div>全国派送</div>
                <div>商品由供货商发货，运费由用户支付</div>
            </li>
            <li>
                <img src="@Html.ResBase()Content/desktop/images/feature4.jpg" />
                <div>100%权益保障</div>
                <div>保证所有参与者享有相同的权利与义务</div>
            </li>
        </ul>
    </div>
</div>