<div class="modal fade simple" id="dlg-signin" tabindex="-1" role="dialog">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-body" id="dialog-body">
                <span data-dismiss="modal" class="close fa fa-remove"></span>
                <div>
                    <img class="dlg-logo" src="~/css/desktop/images/logo.png" />
                </div>
                @Html.Partial("../User/_SigninPanel")
            </div>
        </div>
    </div>
</div>