@import "defaultStyle.scss";
div.uploader.disabled{
    cursor:default !important;
    background-color:#eef1f5;
}

div.entity-picker.disabled{
    div.form-control{
        background-color:#eef1f5;
    }
    background-color:#eef1f5;
}

div.image-picker{
    padding:0;
    border:none !important;
    background-image:none;
}

div.image-picker-control{
    background-color:#ddd;
    min-width:150px;
    min-height:150px;
    width:100%;
    background-image:none;
    border:1px solid #ccc !important;
    border-radius:3px;
    text-align:center;
    padding:0px 0;
    div.empty{
        margin:50px 0;
    }
    >a{
        padding:6px 8px;
        opacity:0.8;
        display:none;
        position:absolute;
        top:4px;
        right:4px;
    }
    position:relative;
}
div.image-picker-control.small{
    min-height:0;
    min-width:0;
    width:40px !important;
    height:40px  !important;
}
div.image-picker-control:hover{
    >a {
        display:block;
    }
}
span.fa.check-icon{
    font-size:18px;
    margin:6px 0 6px 0;
    color:#444;
    cursor:pointer;
} 

.dynamic-form{
    background-color:#fff;
    padding:20px 20px 20px 20px;
    border-radius:4px;
    width:950px;
    div.alert.alert-warning{
        background-color:lighten($stressColorLight,35%) !important;
        color:$primaryBGColorDark;
        strong{
            text-align:right;
            width:80px;
            margin-right:10px;
            display:inline-block;
        }
    }
    div.hbox{
        >div{
            float:left;
        }
    }
    
    div.form-group{
        position:relative;
        border-bottom:1px dotted #ddd;

        span.form-help{
            margin-left:140px;
            padding:2px 0 0 0;
            display:block;
            color:$grayDark;
        }

        label.control-label
        {
            float:left;
            width:130px;
            display:block;
            text-align:right;
            margin:4px 0 0 0;

        }
        label.control-label::after{
            content:":";
        }
        label.control-label.input-required::before{
            content:"* ";
            color:$primaryBGColorDark;
        }

        select.form-control{
            //min-width:152px !important;
        }

        div.control-content{
            margin-left:140px;
        }
        div.control-content:first-child{
            margin-left:0;
            >div.form-item-set{
                padding:0;
                border:0;
            }
        }
        span.error{
            position:absolute;
            top:10px;
            right:20px;
            background-color:#fff;
            padding:3px 6px 3px;
            border-radius:4px;
            color:#f44;
            z-index:100;
        }
    }
    div.form-group:last-child{
        border-bottom:none;
    }
    div.form-group.has-feedback{
        div.control-content{
            .form-control {
                padding-right:12px;
            }
        }

    }
    div.form-control{
        background-color:$grayBGDark;
    }
    div.control-content.field-size-xs{
        max-width:150px !important;
    }
    div.control-content.field-size-sm{
        max-width:300px !important;
    }
    div.form-item-set{
        border:1px solid $grayLight;
        padding:10px;
        border-radius:3px;
         >div.form-group:first-child:last-child{
            margin-bottom:0 ;
            div.image-picker-control.full-width{
                border:none!important;
                min-height:0;
                min-width:0;
                height:auto;
            }
        }
    }
    
    >div.form-group{
        >div.control-content{
            >div.form-item-set{
                padding:0;
                border:none;
            }
        }
        
    }
    div.form-item-array.vert-mode{
        >div.array-item{
             border-bottom:1px solid $grayLight;
             margin-left:-40px;
             padding-left:40px;
         >div.buttons{
             position:absolute;
             left:-30px;
             top:70px;
          }
           >span.number{
                position:absolute;
                left:-70px;
                top:30px;
                height:0;
                width:100px;
                text-align:right;
                overflow:visible;
                color:$grayLight;
                font-family:Arial;
                font-size:30px !important;
            }
        }
    }
    div.form-item-array.hert-mode{
        div.buttons{
            position:absolute;
            float:right;
            right:40px;
            top:0;
            z-index:200;
        }
        >div.array-item{
            float:left;
            position:relative;
            margin:0 10px 10px 0;
           
        }
        label{
            display:none;
        }
        div.control-content{
            margin-left:0;
        }
        >div.empty{
            float:left;
            background-color:#fff;
            border:1px solid #ccc;
            color:#ccc;
            padding:5px 0;
            text-align:center;
            border-radius:3px;
            margin:0 10px 10px 0;
            padding:30px;
            display:none;
        }
    }
    div.form-item-array.vert-mode{
        >div.empty{
            border:1px solid #ccc;
            background-color:#fff;
            color:#ccc;
            padding:30px 0;
            text-align:center;
            border-radius:3px;
        }
        >div.array-item{
            //padding-right:150px;
            position:relative;
            >div.buttons{
                //margin:3px -150px 0 0 ;
                position:absolute;
                right:-110px;
            }
        }
        
        >div.add-panel{
            padding:10px 0;
            text-align:center;
        }
    }
    div.form-item-array.vert-mode.readonly{
        >div.empty{
            padding:0;
            background-color:transparent;
            border:none;
            color:$colorLight;
            text-align:left;
            padding:6px;
        }
   }
    div.form-footer{
        text-align:center;
        .btn{
            margin-right:8px;   
        }
        .btn-group{
            margin-right:8px;
            >button{
                margin-right:0;
            }
        }
        .btn-lg{
            padding:6px 30px;
        }
    }
}
select.entity-picker.small-single{
    max-width:400px;
    }
div.entity-picker.large-single{
     max-width:400px;
   >div.form-control{
        //width:auto !important;
        border-right:none;
        border-radius:2px 0 0 2px !important;
        //min-width:112px;
    }
    >span:last-child{
       >button{
            height:30px;
            border-radius:0 2px 2px 0 !important;
        }
    }
    >div.form-control:last-child{
        border-right:1px solid rgb(194, 202, 216) !important;
        border-radius:2px !important;
        //min-width:152px;
    }
    
}
ul.form-control.entity-picker.small-multiple{
    height:auto !important;
    margin:0;
    padding:2px;
    list-style-type:none;
    list-style-image:none;
    max-width:400px;
    max-height:400px;
    overflow:auto;
    li{
        .fa{
            font-size:14px;
        }
        cursor:pointer;
        padding:0;
        margin:0;
    }
    li.active{
        font-weight:normal;
    }
    li:hover{
        background-color:$grayBG;
    }
}
table.form-table-editor {
    >tbody{
        >tr{
            >td{
                >ul.form-control.entity-picker.small-multiple{
                    margin-left:10px;
                    >li{
                        float:left;
                        margin-right:10px;
                    }
                }
            }
        }
    }
}
div.entity-picker.large-multiple{
    height:auto;  
    padding:0;
    max-width:400px;
    ul{
        padding:0;
        margin:0;
        overflow:auto;
        height:auto;  
        max-height:200px;
        >li{
            padding:4px 10px;
            margin:0;
            list-style:none;
            height:24px;
            overflow:hidden;
            >span{
                float:right;
                display:none;
                cursor:pointer;
                margin-top:2px;
            }
        }
        >li:hover{
            background-color:$grayBG;
            >span{
                display:block;
            }
        }
    }
    >div{
        padding:3px 10px;
        background-color:$grayBGLight;
        > div{
            display:inline-block;
        }
        >div.limit{
            padding:0 0 0 5px;
        }
    }
}
div.rich-editor{
    //border:1px solid #ccc;
    //padding:12px;
    //border-radius:2px;
    //background-color:#fff;
}
div.rich-editor.readonly{
    border:1px solid #ccc;
    padding:12px;
    border-radius:2px;
    background-color:#fff;
}

div.setting-form{
    padding:20px;
    border:1px solid $gray;
    background-color:#f8f8f8;
    border-radius:3px;
    >form.dynamic-form{
        >div.form-group{
            >label.control-label{
                display:none;
            }
            >div.control-content{
                margin-left:0 !important; 
            }
        }
    }
    div.form-group{
        span.form-help{
            margin-left:160px;
        }

        label.control-label{
            width:150px !important;
        }
        div.control-content{
            margin-left:160px !important;
        }
        div.control-content:first-child{
            margin-left:0px !important;
        }
    }
}
table.form-table-editor{
    width:100%;
    border:1px solid $grayLight;
    background-color:#fff;
   
    th{
      padding:2px 20px;  
      color:$color;
      font-weight:normal;
      min-width:100px;
    }
    
    th:first-child{
        padding:2px 6px;
        min-width:0;
    }
    th.field-required::after{
        padding-left:4px;
        content:"*";
        color:$primaryBGColorDark;
    }
    th.actions{
        width:70px !important;
        min-width:0;
        padding:2px 0;
        text-align:center;
    } 
    td{
        padding:6px;
        position:relative;
        .form-control{
            border-color:transparent;
            background-color:transparent;
        }
        >span.cell-error{
            position:absolute;
            left:10px;
            top:30px;
            padding:0 8px ;
            color:$primaryBGColorDark;
            background-color:#fff;
            border:1px dotted $grayLight;
            border-radius:3px;
            white-space:nowrap;
        }
        /*>input{
            min-width:0 !important;
            width:100% !important;
            display:inline-block;
        }*/
    }
    td.touched{
        >.form-control{
            color:#22f !important;
        }       
    }
    td.actions{
        padding:0;
        text-align:center;
    }
    tr{
        border-bottom:1px dotted $grayLight;
    }
    >tbody{
        >tr.active{
            >td{
                >.form-control{
                    border-color:$gray;
                    background-color:#fff;
                }
            }
        }
    }
    tr:hover{
        background-color:$grayBG;
    }
    tr.form-table-editor-header{
        background-color:$grayBG;
    }
}


div.form-tree-editor{
    border:1px solid #ccc;
    border-radius:2px;
    background-color:#f8f8f8;
    position:relative;
    min-height:600px;
    div.actions{
        float:right;
        div.btn-group{
            margin-right:8px;
        }
    }
    div.title{
        padding:2px 16px;
        background-color:$grayBGDark;
        height:30px;
        button{
            width:auto;
            padding:3px 8px 2px 8px;
        }
        b{
            display:inline-block;
            margin:0;
        }
        
    }
    div.tree-nodes{
        background-color:#fff;
        position:absolute;
        top:30px;
        left:0;
        bottom:0;
        width:200px;
        overflow:auto;
        padding:10px;
        div.buttons{
            float:right;
            display:none;
        }
        ul{
            margin:0;
            padding:0 0 0 10px;
            list-style-type:none;
        }
        li{
            margin:0;
            padding:0;
            label{
                cursor:pointer;
            }
        }
        li.active{
            >label{
                color:$primaryBGColorDark;
                font-weight:bold;
            }
        }
        li.add-panel{
            display:none;
            
        }
        
    }
    div.tree-content{
        width:580px;
        margin-left:200px;
        >div{
            padding:20px;
        }
    }

}

div.form-tree-editor.form-pages{
    position:fixed;
    left:244px;
    right:109px;
    bottom:20px;
    top:220px;
    min-height:100px;

    div.tree-nodes{
    }
    div.tree-content{
        padding:20px;
        overflow:auto;
        position:absolute;
        right:0;
        left:210px;
        top:30px;
        bottom:0;
        width:auto;
        margin:0;
        >div.form-item-set{
            margin-right:100px;
        }
    }

}

div.root-modal-container{
    div.modal-wrapper{
        div.modal{
            div.modal-dialog{
                div.modal-content{
                    border-radius:2px;
                    div.modal-header{
                        padding:10px;
                        button{
                            margin-top:5px;
                        }
                        h4{
                            font-size:12px;
                        }
                        min-height:0;
                    }
                }
            }
        }
        div.modal.with-height{
            div.modal-dialog{
                div.modal-content{
                    position:relative;
                    height:100%;
                    border-radius:2px;
                    div.modal-header{
                        
                    }
                    div.modal-body{
                        position:absolute;
                        top:30px;
                        bottom:50px;
                        right:0;
                        left:0;
                        padding:15px 8px 0 8px;
                        >div{
                            width:100%;
                            height:100%;
                        }
                    }
                    div.modal-footer{
                        position:absolute;
                        height:50px;
                        bottom:0;
                        left:0;
                        right:0;
                        padding:8px;
                    }
                }
            }
        }
    }
}



form.dynamic-form.filter-form{
    height:auto;
    width:100%;
    padding:0;
    div.control-content{margin-left:80px;} 
    input,input[disabled=true]{
        padding:2px;
        height:30px;
        font-size:12px;
        border-color:#ddd !important;
        border-radius:2px;
    }
    
    div.form-group{
       display:inline-block;
       padding:0;
       margin:0 5px 0px 0;
       border-bottom:none;
       max-height:26px;
       white-space:nowrap;
       label.control-label{
           margin:0;
           padding:0 4px 0 0;
           display:inline-block;
           height:24px;
           float:none;
           vertical-align:top;
           width:auto !important;
       }
       .control-content{
           display:inline-block;
           margin:0 10px 0 0;
       }
       .control-content:first-child{
           margin:0;
       }
       .form-control{
           height:26px;
       }
       select{
            padding:2px;
            height:26px;
            font-size:12px;
            border-color:#ddd !important;
            border-radius:2px;
        }
       .input-group{
           max-width:200px;
            div.form-control{
                
            }
        }
        .form-help{display:none}
    }
    >div.form-group{
        >div.control-content{
            >div.form-item-set{
                div.hbox{
                    >div.form-group{
                        margin-bottom:5px;
                    }
                }
            }
        }
    }
    div.form-group.form-number div.control-content {
        max-width: 100px !important;
    }
    div.form-item-set{
        border:none;
        padding:0;


        /*margin:0 10px;*/
        label.item-set-title{float:left;width:75px;text-align:right;padding-top:2px}
        label.item-set-title::after{content:":"}
        div.item-set-content{margin-left:80px;}
    }
    div.form-group.has-feedback{

        label{
            color:#444 !important;
        }
        select{border-color:#ccc !important;}
        input{border-color:#ccc !important;}
        div.control-content{
            .form-control {
                padding-right:2px !important;
            }
        }
    }
    fieldset.form-item-set{
        float:left;width:75px;text-align:right;padding-top:2px;
        >legend{
            font-size:12px;
            float:left;
            border:1px;
             width:76px;
        }
        >legend::after{content:":"}
        >div.item-set-content{
            float:left;
            margin-left:80px;
        }
        .form-control{
            min-width:100px;
        }
    }

   
}

div.with-chars{
    position:relative;    
    >span{
        position:absolute;
        top:5px;
        right:5px;
        font-weight:bold;
        color:$gray;
    }
    >input.form-control{
        padding-right:60px !important;
    }
}

div.with-copy{
    position:relative;    
    >button{
        position:absolute;
        top:3px;
        right:3px;
        height:20px;
    }
    >input.form-control{
        padding-right:60px !important;
    }
}
